body {
    font-family: "Times New Roman", Times, serif;
    background-color: #f0f0f0;
}

h1 {
    color: blue;
    text-align: center;
}

p {
    color: pink;
    line-height: 1.5;
    margin: 20px;
    text-align: center;
}