body {
			margin: 0;
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #f3f3f3;
			font-family: Arial, sans-serif;
		}

		.caixa-maior {
			position: relative;
			width: 400px;
			height: 300px;
			background: #b832af;
			border: 3px solid #361034;
		}

		.caixa-menor {
			position: absolute;
			top: 90px;
			left: 120px;
			width: 160px;
			height: 110px;
			background: #ffffff;
			border: 3px solid #ffffff;
		}